:root {
    --primary: #d1d1d1;
    --primary-hover: #efefef;
    --secondary: #ebebeb;
    --secondary-hover: #fbfbfb;
    --aura: #ffffffba;
    --background: #474747;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background);
    font-family: Mulish;
}

h1 {
    color: var(--secondary);
}

.background {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background-image: url('/entregable_1/src/proyecto/static/img/login.jpg');
    background-size: auto;
    background-repeat: no-repeat;

}

.centering {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.my-form {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 16px;
    background-color: var(--background);
    border: 1px solid var(--primary);
    border-radius: 16px;
    box-shadow: 0 20px 60px var(--aura);
    min-width: 280px;
    max-width: 460px;
    width: 100%;
    padding: 32px;
}

.login-welcome {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.login-welcome-row {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.my-form__button {
    background-color: var(--primary);
    color: var(--background);
    white-space: nowrap;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    line-height: 50px;
    outline: none;
    font-size: 18px;
    letter-spacing: .025em;
    text-decoration: none;
    cursor: pointer;
    font-weight: 800;
    min-height: 50px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.15);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.text-field input {
    color: var(--secondary);
    font-size: 16px;
    font-weight: 500;
    max-width: 100%;
    width: 100%;
    border: 1px solid var(--secondary);
    height: 50px;
    letter-spacing: .03rem;
    background-color: transparent;
    outline: none;
    transition: .25s;
    border-radius: 8px;
    text-indent: 20px;
    margin-top: 8px;
}


.my-form__button:hover {
    background-color: var(--primary-hover);
}

.text-field {
    position: relative;
}

.text-field input::-webkit-input-placeholder { /* Edge */
    color: var(--secondary-hover);
}

.text-field img {
    position: absolute;
    right: -2px;
    bottom: -4px;
    width: 30px;
    height: 30px;
    transform: translate(-50%,-50%);
    transform-origin: center;
}

.text-field input:focus {
    border: 1px solid var(--primary);
}

.text-field label {
    color: var(--secondary);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .03rem;
    z-index: 10;
}

.input-icon {
    position: absolute;
    bottom: 0;
    top: 55%;
    right: 8px;
    transform: translate(-50%, -50%);
    transform-origin: center;
}

.my-form__actions {
    display: flex;
    flex-direction: column;
    color: var(--secondary);
    gap: 16px;
    margin-top: 8px;
}

.my-form__actions a {
    color: var(--secondary);
    font-weight: 600;
}

.my-form__actions a:hover {
    color: #a7a2cb;               
}

.my-form__row {
    display: flex;
    justify-content: space-between;
}

.my-form__signup {
    display: flex;
    justify-content: center;
}

.my-form__signup a {
    color: var(--primary);
    font-weight: 800;
    text-decoration: none;
    font-size: 18px;
}

.my-form__signup a:hover {
    color: var(--primary-hover);
}

.horizontal-footer {

    color: white;
    padding: 10px;
}

.horizontal-header {

    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    height: 70px;
}

/* Style the navigation links */
.horizontal-header nav ul {
    list-style: none;
    text-align: right;
}

.horizontal-header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

.horizontal-header nav ul li a {
    color: white; /* Link color */
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 768px) {

    h1 {
        font-size: 24px; 
    }

    .my-form {
        max-width: 80%; 
    }
}

#incorrecto{
    font-size: large;
    color: red;
    display: none;
}
