/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #964a4a;
  color: #fff;
  text-align: center;
  padding: 20px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

.hero {
  background-image: url('hero-image.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  padding: 100px 0;
}

.btn:hover {
  background-color: #555;
}

.acerca-de, .servicios, .contacto {
  padding: 40px;
}

footer {
  background-color: #964a4a;
  color: #fff;
  text-align: center;
  padding: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #22232b;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  max-width: 1200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 102px;
}

.header .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .container .logo {
  max-width: 170px;
  width: 100%;
  padding-right: 10px;
}

.header .container .logo .text {
  display: inline-block;
  position: relative;
  left: 10px;
  top: 12px;
}

.header .container .logo .text p {
  color: #000603;
  font-size: 17px;
  font-weight: 600;
}

.header .container .logo .text p + p {
  padding-top: 5px;
  color: #9f9f9f;
  font-size: 12px;
}

.header .container .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 534px;
  width: 100%;
}

.header .container .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.header .container .nav ul li {
  min-height: 20px;
}

.header .container .nav ul li + li {
  padding-left: 10px;
}

.header .container .nav ul li:nth-child(1) {
  width: 60px;
}

.header .container .nav ul li:nth-child(2) {
  width: 40px;
}

.header .container .nav ul li:nth-child(3) {
  width: 105px;
}

.header .container .nav ul li a {
  width: 100%;
  position: relative;
  font-size: 14px;
  font-weight: 400;
  color: #22232b;
  -webkit-transition: font-weight .5s;
  transition: font-weight .5s;
}

.header .container .nav ul li a:hover {
  color: #6b1d57;
  font-weight: 700;
  height: 2px;
  border-bottom: 2px solid #6b1d57;
  padding-bottom: 5px;
  border-width: 70%;
}

.header .container .nav ul li a.btn {
  display: block;
  width: 120px;
  text-align: center;
  height: 50px;
  -webkit-box-shadow: 0 8px 8px rgba(67, 66, 93, 0.25);
          box-shadow: 0 8px 8px rgba(67, 66, 93, 0.25);
  border-radius: 6px;
  color: #6b1d57;
  border: 1px solid #6b1d57;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}

.header .container .nav ul li a.btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header .container .nav ul li:nth-child(4) a:hover {
  border: none;
}

.header .container .nav ul li:nth-child(4) a img {
  position: relative;
  top: -2px;
}

@media all and (max-width: 724px) {
  .nav {
    margin: 0 auto;
  }
}

.container {
  margin: auto;
} 

.container {
  display: flex;
}

.profile-wrapper {
  width: 350px;
  height: 450px;
  position: relative;
  display: flex;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 350px;
  height: 450px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 0.5s;
}

.profile .profile-image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: var(--background);
  transition: .5s;
}

.profile-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.profile:hover img {
  opacity: 0.4;
  transition: .5s;
}

.profile:hover .profile-image {
  transform: translateY(-104px);
  transition: all .9s;
}

.profile:hover .profile-bio {
  opacity: 0.9; 
}

.social-icons {
  position: absolute;
  display: flex;
  gap: 12px;
  z-index: 3;
  bottom: 164px;
}

.social-icons li {
  list-style: none;
}

.social-icons li a {
  position: relative;
  display: block;
  display: grid;
  place-items: center;
  background: #fff;
  font-size: 23px;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border: 1px solid #CDCDCD;
  border-radius: 4px;
  transition: .2s;
  transform: translateY(32px);
  opacity: 0;
}

.social-icons li a:hover {
  background: var(--background);
  transition: .2s;
}

.social-icons li a svg {
  color: var(--background);
  transition: .2s;
}

.social-icons li a:hover svg {
  color: white;
  transition: 0.8s;
  transform: rotateY(360deg);
}

.profile:hover .social-icons li a {
  opacity: 1; 
}

.profile:hover li:nth-child(1) a {
  transition-delay: 0.1s;
}

.profile:hover li:nth-child(2) a {
  transition-delay: 0.2s;
}

.profile:hover li:nth-child(3) a {
  transition-delay: 0.3s;
}

.profile:hover li:nth-child(4) a {
  transition-delay: 0.4s;
}

.profile-name {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 4;
  background: var(--background);
  width: 100%;
  height: 104px;
  padding: 16px;
  z-index: 1;
  color: #333;
  text-align: left;
}

.profile:hover .profile-name {
  background-color: #fff;
}


.profile-name h2 {
  margin-bottom: 8px;
}



/* Estilos para pantallas pequeñas */
@media screen and (max-width: 724px) {
  /* Estilos para el encabezado (header) */
  header {
    padding: 10px;
  }

  nav ul li {
    margin-right: 10px;
  }

  .hero {
    padding: 50px 0;
  }

  .acerca-de, .servicios, .contacto {
    padding: 20px;
  }

  .header .container .logo .text p {
    font-size: 14px;
  }

  .container {
    margin: auto;
    display: flex;
  } 

  .profile-wrapper {
    width: auto;
    height: auto;
    position: relative;
    display: flex;
  }

  .profile{
    display: flex;
  }
  
}

/* Estilos para pantallas muy pequeñas */
@media screen and (max-width: 480px) {
  header {
    font-size: 16px;
  }

  nav ul li {
    margin-right: 5px;
  }

  .hero {
    padding: 30px 0;
  }

  .acerca-de, .servicios, .contacto {
    padding: 10px;
  }

  .header .container .logo .text p {
    font-size: 12px;
  }

  .container {
    margin: auto;
    display: flex;
  } 

  .profile-wrapper {
    width: auto;
    height: auto;
    position: relative;
    display: flex;
  }

  .profile{
    display: flex;
  }
  
}

