<!DOCTYPE html>
<html lang="es">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Sesion 2 - Taller de Programacion 2</title>
    <meta name="viewport" content="width-device-width, inicial-scale=1.0">

    {% comment %} <script src="E:/taller_programacion2/andres_callejas05082/src/sesiones_poli/templates/login/login_1/static/js/login.js"></script> {% endcomment %}
    
    <link href="E:/taller_programacion2/andres_callejas05082/src/sesiones_poli/templates/login/login_2/static/css/login.css" rel="stylesheet"></link>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900&amp;subset=latin,latin-ext" rel="stylesheet"></link>
    </head>
    <body >
      <div class="wrapper">
         <div class="container">
           <h1>Welcome</h1>
           
           <form class="form">
             <input type="text" placeholder="Username">
             <input type="password" placeholder="Password">
             <button type="submit" id="login-button">Login</button>
           </form>
         </div>
         
         <ul class="bg-bubbles">
           <li></li>
           <li></li>
           <li></li>
           <li></li>
           <li></li>
           <li></li>
           <li></li>
           <li></li>
           <li></li>
           <li></li>
         </ul>
       </div>
       <script src="E:/taller_programacion2/andres_callejas05082/src/sesiones_poli/templates/login/login_2/static/js/bootstrap.bundle.min.js"></script>
       <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
       <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
       <script src="E:/taller_programacion2/andres_callejas05082/src/sesiones_poli/templates/login/login_2/static/js/login.js"></script>
    </body>
</html> 
